Required Python Library
1. werkzeug - This is used to upload files to server.
2. pdfminer - This is to convert PDF content to text.
3. python-docx - This is to convert DOCX content to text.
4. csv - This is to read/write/modify CSV files
5. scikit-learn
