<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="./static/index.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Recruitment Management System</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Recruitment Management System</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/classifier">Classifier</a></li>
            <li><a href="/searcher">Searcher</a></li>
            <li><a href="/uploader">Uploader</a></li>
            <li><a href="creator">Creator</a></li>
        </ul>
    </div>
</nav>

<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
    <div class="valign" style="width:100%;">
        <div class="container">
            <div class="row ">

                <form action="/resumeSubmit" method="post">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input name="resumes" type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input name="fileresume" class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <div class="col s12 m6 offset-m5">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>