<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="./static/index.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Recruitment Management System</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Recruitment Management System</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/classifier">Classifier</a></li>
            <li><a href="/searcher">Searcher</a></li>
            <li><a href="/uploader">Uploader</a></li>
            <li><a href="creator">Creator</a></li>
        </ul>
    </div>
</nav>
</body>
</html>