<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>F2M2 HR system</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <div class="row">
            <div class="col-sm"><h3 align="left">Search Resume Page Result</h3></div>
        </div>
        <div class="row">
            <div class="col-sm">&nbsp;</div>
        </div>
        {% if results == null or results == "No 'Mandatory Search Key' input" %}
        <div class="row">
            <div class="col-sm" align="left">{{results }}</div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-sm" align="left">Best Match Resumes</div>
        </div>
        <table class="table-hover">
			<thead>
			  <tr>
                  <th>Rank</th>
                  <th>Name</th>
                  <th>Resume</th>
                  <th>Match Rate</th>
			  </tr>
			</thead>
			{% for m in results :%}
				<tbody>
			  		<tr>
						<td>{{m.rank}}</td>
                        <td>{{m.name}}</td>
                        {% if 'http://' in m.filename %}
						<td><a href="{{m.filename}}">{{m.filename}}</a></td>
                        {% else %}
                        <td><a href="{{url_for('custom_static', filename=m.filename)}}">{{m.filename}}</a></td>
                        {% endif%}
                        <td>{{m.score}}</td>
			  		</tr>
				</tbody>
			{% endfor %}
		</table>
        <div class="row">
            <div class="col-sm">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm" align="left">Recommended Resumes</div>
        </div>
        <table class="table-hover">
			<thead>
			  <tr>
                  <th>Rank</th>
                  <th>Name</th>
                  <th>Resume</th>
                  <th>Score</th>
			  </tr>
			</thead>
            {% for m in results :%}
				<tbody>
			  		<tr>
                        <td>{{m.rank}}</td>
                        <td>{{m.name}}</td>
                        {% if 'http://' in m.filename %}
                        <td><a href="{{n.filename}}">{{m.filename}}</a></td>
                        {% else %}
                        <td><a href="{{url_for('custom_static', filename=m.filename)}}">{{m.filename}}</a></td>
                        {% endif%}
                        <td>{{m.score}}</td>
			  		</tr>
				</tbody>
			{% endfor %}
		</table>
        {% endif %}
        <div class="row">
            <div class="col-sm">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm" align="left"><a href="/">Back to Menu</a></div>
        </div>
    </div>
</div>
</body>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>