<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>F2M2 HR system</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <form method="post" name="searchResume" action="searchResumeAction">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4"><h3 align="left">Search Resume Page</h3></div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-sm-7" align="left"><label for="importantKey">Mandatory Search Key </label></div>
                </div>
                <div class="row">
                    <div align="left" class="col-sm-7"><input class="form-control" id="importantKey" maxlength="100"
                                                              name="importantKey"></div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-sm-7" align="left"><label for="optionKey">Optional Search Key </label></div>
                </div>
                <div class="row">
                    <div align="left" class="col-sm-7"><input class="form-control" id="optionKey" maxlength="100"
                                                              name="optionKey"></div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm">&nbsp;</div>
                </div>
                <div class="row">
                    <div align="left" class="col-sm"><input checked id="KNN" name="algorithmType" type="radio"> <label
                            for="KNN">KNN</label></div>
                    <div align="left" class="col-sm"><input id="cosinesim" name="algorithmType" type="radio"> <label
                            for="cosinesim">Cosine Similarity</label></div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm">&nbsp;</div>
                </div>
                <div class="row">
                    <div align="left" class="col-sm"><input Value="Search" class="btn btn-primary btn-lg btn-block"
                                                            type="submit"
                                                            name="Put Record"></div>
                    <div class="col-sm-5"></div>
                    <div class="col-sm-5"></div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>